<%= form_with(model: creator_metric, local: true) do |form| %>
  <% if creator_metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creator_metric.errors.count, "error") %> prohibited this creator_metric from being saved:</h2>

      <ul>
      <% creator_metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creator_id %>
    <%= form.number_field :creator_id %>
  </div>

  <div class="field">
    <%= form.label :metric_id %>
    <%= form.text_field :metric_id %>
  </div>

  <div class="field">
    <%= form.label :metric_name %>
    <%= form.text_field :metric_name %>
  </div>

  <div class="field">
    <%= form.label :metric_value %>
    <%= form.text_field :metric_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
