<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :usertype %>
    <%= form.text_field :usertype %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :truename %>
    <%= form.text_field :truename %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :province_id %>
    <%= form.number_field :province_id %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.number_field :city_id %>
  </div>

  <div class="field">
    <%= form.label :distirct_id %>
    <%= form.number_field :distirct_id %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :user_comment %>
    <%= form.text_field :user_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
