<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Usertype:</strong>
  <%= @user.usertype %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Truename:</strong>
  <%= @user.truename %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Province:</strong>
  <%= @user.province_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city_id %>
</p>

<p>
  <strong>Distirct:</strong>
  <%= @user.distirct_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>User comment:</strong>
  <%= @user.user_comment %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
